# ALTER

The ALTER command is a very important command in the DATA DEFINITION LANGUAGE of SQL. In this tutorial, I will be delving deeper into all you need to know about the command and how you can use it to make changes to the structure of tables. The command in SQL DDL is used to modify existing database objects like tables, views, indexes, etc.

Let's start with creating a database then creating data tables in the database.

In [8]:
CREATE DATABASE TUTORIAL;

Now that the "TUTORIAL" database has been created, we can then go ahead to use the "USE" command to change our database to the TUTORIAL database.

In [9]:
USE TUTORIAL;

The SQL code below creates a  table named `Employees` with four columns: `Employee_ID`, `Employee_Name`, `Employee_Level`, and `Employee_Address`. Each column is defined with its respective data type and maximum length. This table can then be used to store information about employees, such as their ID, name, level, and address.

In [10]:
CREATE TABLE Employees (
Employee_ID INT,
Employee_Name VARCHAR(255),
Employee_Level VARCHAR(255),
Employee_Address VARCHAR(255)

);

Same with the lines of code below, it creates a table named `Departments` with two columns: `Department_ID` and `Department_Name`. The `Department_ID` column stores integer values representing the department's ID, while the Department_Name column stores string values representing the department's name. This table can be used to store information about different departments within an organization.

In [11]:
CREATE TABLE Departments(
Department_ID INT,
Department_Name VARCHAR(255)

);

The SQL lines of code modifies the `Employees` table by adding a new column named `Gender`. This column can be used to store information about the gender of each employee.

In [12]:
ALTER TABLE Employees
ADD Gender VARCHAR(255);

The SQL statement below modifies the `Employees` table by removing the `Gender` column. This action permanently removes the column and its associated data from the table.

In [13]:
ALTER TABLE Employees
DROP COLUMN Gender;

The SQL statement below modifies the `Employee_ID` column in the `Employees` table, changing its data type from integer to a variable-length character string with a maximum length of 255 characters. This could be useful if you need to store employee IDs as strings rather than integers for any reason. However, it's important to note that altering a column's data type may cause data loss or other issues if the new data type cannot accommodate the existing data in the column. Always proceed with caution when altering column data types.

In [14]:
ALTER TABLE Employees
ALTER COLUMN Employee_ID VARCHAR(255);

The SQL statement below modifies the  `Employee_ID`  column in the  `Employees`  table, changing its data type back to integer and ensuring that it cannot contain NULL values. This might be useful if you previously altered the column to allow NULL values but now want to enforce that every employee record must have a valid integer ID.

In [17]:
ALTER TABLE Employees
ALTER COLUMN Employee_ID INT NOT NULL;

Initially, we did not make the `Employee_ID` a PRIMARY KEY so that's what we will be doing here. The SQL statement below adds a primary key constraint named `PK_Employees` to the `Employees` table, specifying that the `Employee_ID` column serves as the primary key for the table. This constraint enforces uniqueness and non-nullability for the `Employee_ID` column, ensuring that each employee record is uniquely identified by their ID.

In [31]:
ALTER TABLE Employees
ADD CONSTRAINT PK_ID PRIMARY KEY (Employee_ID);

In [26]:
ALTER TABLE Employees
DROP CONSTRAINT PK_ID;

Let's make some changes on the `Departments` table. The plan is to make the `Department_ID` column a PRIMARY KEY, but to successfully do that, we will first have to make it non-nullable. The SQL statement below modifies the `Department_ID` column in the `Departments` table, changing its data type to integer and ensuring that it cannot contain NULL values. This might be useful if you want to enforce that every department record must have a valid integer ID.

In [27]:
ALTER TABLE Departments
ALTER COLUMN Department_ID INT NOT NULL;

Now that we have made the Department_ID column non-nullable, we can then go ahead to make it a PRIMARY KEY. The SQL statement below adds a primary key constraint named `PK_Departments` to the `Departments` table, specifying that the `Department_ID` column serves as the primary key for the table. This constraint enforces uniqueness and non-nullability for the Department_ID column, ensuring that each department record is uniquely identified by its ID.

In [28]:
ALTER TABLE Departments
ADD CONSTRAINT PK_Departments PRIMARY KEY (Department_ID);

If we will go back to the `Employees` table, we will notice that there's no `Department_ID` in the table. What we will be doing at this stage is to add the column to the `Employees` table. The SQL statement below adds a new column named `Department_ID` to the Employees table, which can be used to associate each employee with a department. However, it's important to note that adding a new column without any additional constraints will allow NULL values in the `Department_ID` column. If you want to enforce referential integrity with the `Departments` table, you may consider adding a foreign key constraint to ensure that each `Department_ID` value in the `Employees` table corresponds to a valid department in the `Departments` table.

In [29]:
ALTER TABLE Employees
ADD Department_ID INT;

We already expressed some concerns above as regards referential integrity with the `Departments` table. Let's sort that out. The SQL statement below adds a foreign key constraint named `FK_Department_ID` to the `Employees` table, ensuring that the values in the `Department_ID` column of the `Employees` table are valid and exist in the `Department_ID` column of the `Departments` table. This constraint helps maintain referential integrity between the two tables.

In [30]:
ALTER TABLE Employees
ADD CONSTRAINT FK_Department_ID 
FOREIGN KEY (Department_ID) REFERENCES Departments(Department_ID);

The SQL statement below removes the foreign key constraint `FK_Department_ID` from the `Employees` table. Once the constraint is dropped, there will be no enforcement of referential integrity between the `Department_ID` column in the `Employees` table and the `Department_ID` column in the `Departments` table.

In [18]:
ALTER TABLE Employees
DROP CONSTRAINT FK_Department_ID;

What we are trying to prove here is that the FOREIGN KEY constraint name can be changed but must start with `FK`. Here we are going to be adding a new FOREIGN KEY constraint but with another name, `FK_Employees_Departments` to the `Employees` table, ensuring that the values in the `Department_ID` column of the `Employees` table are valid and exist in the `Department_ID` column of the `Departments` table. This constraint helps maintain referential integrity between the two tables.

In [19]:
ALTER TABLE Employees
ADD CONSTRAINT FK_Employees_Departments 
FOREIGN KEY(Department_ID) REFERENCES Departments(Department_ID)

The SQL statement below adds a new column named `Age` to the `Employees` table, which can be used to store the age of each employee. However, it's important to note that adding a new column without any additional constraints will allow NULL values in the `Age` column. Depending on your data requirements, you may want to add constraints such as NOT NULL to ensure that the `Age` column always contains a value.

In [32]:
ALTER TABLE Employees
ADD Age INT;

Let's address the concerns raised in the above lines of code and add a constraint. The SQL statement below adds a check constraint named `CK_Age` to the `Employees` table, ensuring that the values in the `Age` column meet the specified condition (in this case, being greater than 18). This constraint helps enforce data integrity rules at the database level.

In [38]:
ALTER TABLE Employees
ADD CONSTRAINT CK_Age
CHECK (Age > 18);

The SQL statement below adds a unique constraint named `UQ_Employee_Name` to the `Employees` table, ensuring that each `Employee_Name` value is unique within the table. This constraint helps maintain data integrity by preventing duplicate employee names.

In [39]:
ALTER TABLE Employees
ADD CONSTRAINT UQ_Employee_Name
UNIQUE(Employee_Name);

The SQL statement below modifies the `Department_ID` column in the `Departments` table, changing its data type to integer and ensuring that it cannot contain NULL values. This modification ensures that every record in the `Departments` table must have a valid integer ID.

In [40]:
ALTER TABLE Departments
ALTER COLUMN Department_ID INT NOT NULL;

The SQL statement below adds a default constraint named `DF_Department_Name` to the `Departments` table, ensuring that the `Department_Name` column has a default value of 'Finance' if no value is explicitly specified during an INSERT operation.

In [3]:
ALTER TABLE Departments
ADD CONSTRAINT DF_Department_Name 
DEFAULT 'Finance' FOR Department_Name;