## SQL

**SQL** which stands for Structured Query Language is a programming language designed for managing and manipulating relational databases. It is used to perform various operations on the data stored in a database, such as querying, updating, inserting, and deleting data. SQL also provides commands for creating, modifying, and deleting tables and other database structures.

Here are the core functions of SQL:

![SQL Functions](https://www.dropbox.com/scl/fi/yi1ecb9joky36k4sk4l0t/SQL-functions.png?rlkey=5rqauwingri1oflgrm3yo90hl&dl=0)

**1\. Data Definition Language(DDL):** This consists of SQL commands for creating and modifying the structure of database objects like tables, views, indexes, etc., Here is a list of DDL commands:

- `CREATE`
- `ALTER`
- `DROP`

**2\. Data Manipulation Language(DML):** This consists of commands for inserting, updating, and deleting records in a database. List of DML commands:

- `INSERT`
- `UPDATE`
- `DELETE`

**3\. Data Query Language(DQL):** For retrieving specific data from databases using queries. This is done using the `SELECT` statement along with various clauses to refine the data returned.

SQL is both an ANSI(American National Standards Institute) and ISO(International Organization for Standardization) standard, and although many database systems use SQL, most of them also have their own additional proprietary extensions. However, the standard SQL commands such as `SELECT`, `INSERT`, `UPDATE`, `DELETE`, `CREATE`, and `DROP` can be used to accomplish almost everything that one needs to do with a database.

Disclaimer: Before you continue with this resource, please take note that there are different SQL databases: Microsoft SQL Server Database, MySQL, SQLDBLite, Oracle, Access, etc.

This resource is focused on how to use the Microsoft SQL Server database.

### Getting Started

Before downloading, it is important to review the different editions and versions of SQL Server to determine which one suits your needs. 

You will need to download the SQL Server. Here's a link to the SQL Server installation guide: [Here](https://learn.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server?view=sql-server-ver16)

You can start by clicking on this [link](https://www.microsoft.com/en-us/sql-server/sql-server-downloads), and navigating to the Developer edition, then click on **Download now**.

![SQL Server Download](https://www.dropbox.com/scl/fi/w2lsj00cllohn2cjt7cwj/SQL-download.png?rlkey=ygfwzgr0rm2ido565oloatzry&dl=0)

You can then go ahead to install the SQL Server on your PC.

The next thing to do now is to download and install the SQL Server Management Studio. You can use this [link](https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16), and then navigate to Download SSMS and click on `Free Download for SQL Server Management Studio` as indicated in the image below

![Download SSMS](https://www.dropbox.com/scl/fi/alkldy16o5u7lyinezb4e/Download-SSMS.png?rlkey=dl5rrih7i8toth8hz2t8l3158&dl=0)

You can use this [link](https://learn.microsoft.com/en-us/sql/relational-databases/tutorial-getting-started-with-the-database-engine?view=sql-server-ver16) for more details on getting started with Microsoft SQL Server.

### DATA DEFINITION LANGUAGE

**CREATE**

The `CREATE` command is used to create new tables, databases, indexes, views, and other database objects.

Here are some external resources for more understanding:

* [Geek for Geeks SQL CREATE TABLE Statement](https://www.geeksforgeeks.org/sql-create-table/)
* [w3schools SQL CREATE DATABASE Statement](https://www.w3schools.com/sql/sql_create_db.asp)

**Example 1: Create a New Database**

In [3]:
CREATE DATABASE StudentDB;

: Msg 1801, Level 16, State 3, Line 1
Database 'StudentDB' already exists. Choose a different database name.

**Example 2: Create a New Table**

After creating a database, you can create a table within it. Here's how to create a table named `Students` with some basic fields.

In [5]:
USE StudentDB;

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    BirthDate DATE,
    Address VARCHAR(255)
);

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'Students' in the database.

**Example 3: Create an Index**
Creating an index on a table can improve the speed of retrieval operations.

In [6]:
CREATE INDEX idx_lastname ON Students(LastName);

**2. ALTER Command**

The **ALTER** command is used to add, remove, or modify columns in an existing database. It is basically used to modify existing database objects, such as adding, deleting, or modifying columns in a table or changing the data type of a column.

Here are some external resources for more understanding:

* [w3schools SQL ALTER TABLE Statement](https://www.w3schools.com/sql/sql_alter.asp)
* [Geeks for Geeks SQL ALTER TABLE](https://www.geeksforgeeks.org/sql-alter-add-drop-modify/)


**Example 1: Add a New Column**

In [7]:
ALTER TABLE Students
ADD Email VARCHAR(100);

**Example 2: Modify a Column Data Type**
Here's how to change the data type of the `Address` column

In [8]:
ALTER TABLE Students
ALTER COLUMN Address NVARCHAR(500);

**Example 3: Add a Primary Key**
If you didn't define a primary key during table creation, you could add it later.

In [9]:
ALTER TABLE Students
ADD CONSTRAINT PK_StudentID PRIMARY KEY (StudentID);

: Msg 1779, Level 16, State 0, Line 1
Table 'Students' already has a primary key defined on it.

: Msg 1750, Level 16, State 0, Line 1
Could not create constraint or index. See previous errors.

In this case, we already have a primary key in the Students table, hence the above error.  
  

**3\. DROP Command**

The **DROP** command is used to delete objects from the database. Be caredul with this command, as it removes the object and its data permanenty.

Here are some external resources for your indepth understanding:

* [w3schools SQL DROP TABLE statement](https://www.w3schools.com/sql/sql_drop_table.asp)
* [Geeks for Geeks DROP and TRUNCATE in SQL](https://www.geeksforgeeks.org/sql-drop-truncate/)

**Example 1: Drop a Table**

In [10]:
DROP TABLE Students;

From the above, we are trying to drop the 'Students' table. Depending on the name of the table you are trying to drop, all you have to do is to use this format:

`DROP TABLE table_name`

Where `table_name` is the name of the table you are trying to drop

**Example 2: Drop a Database**

In [12]:
DROP DATABASE StudentDB;

: Msg 3702, Level 16, State 3, Line 1
Cannot drop database "StudentDB" because it is currently in use.

The above code is also demonstrating how to drop a database using this format:

`DROP DATABASE database_name`

Where `database_name` is the name of the database you are trying to drop.

Here are some best practices and tips:

* Backup Before Dropping: Always ensure you have a backup before using the `DROP` command, as it permanently deletes your data.
* Understand Dependencies: Be aware of dependencies between database objects. Dropping one object might affect others.
* Use Transactions: When making multiple related changes, use transactions to ensure that all changes are made successfully or none at all.
* Regularly Review Schema: As your application evolves, review and update the database schema to ensure it meets current needs.

For better understanding, here are some external resources for the above best practices and tips:

**Backup Before Dropping**

[Importance of backing up SQL Server Databases](https://learn.microsoft.com/en-us/sql/relational-databases/backup-restore/back-up-and-restore-of-sql-server-databases?view=sql-server-ver16)

[SQL Server Backup Mastery](https://sqlbak.com/blog/sql-backup-mastery-tips-tricks-recommendations/)

[SQL Server Backup and Restore Best Practices](https://www.msp360.com/resources/blog/sql-server-backup-and-restore/)

[Keep SQL Server Backups Safe: Best Practices](https://red9.com/blog/best-practices-to-keep-your-sql-server-backups-safe/)

**Use Transactions**

[Quickstart: Back up & restore database with SSMS](https://learn.microsoft.com/en-us/sql/relational-databases/backup-restore/quickstart-backup-restore-database?view=sql-server-ver16)